a:hover{
    color: #f8a8b2;
}

#retour:hover,#livraison:hover{
    background-color: #ddd;
}

@media (min-width:768px){
    body {
        margin-bottom: 0%;
        overflow-x: hidden;
        margin: 0;
        font-family: "Public Sans";
        background-image: url('images/image-removebg-preview_1.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% 1500px; 
    }

    header {
        background-color: #222;
        color: #fff;
        text-align: center;
        padding: 10px 0;
    }

    .cartpagetitle {
        text-align: center;
        font-size: 4vh;
        letter-spacing: 1vh;
    }
    a {
        color: black;
        font-size: 120%;
    }
   
    .paniertexte{
        margin:5%;
        font-size: 130%;
    }
    .panier {
        background-color: rgb(255,255,255,0.8);
        border: solid #222;

        margin: 5%;
        display: flex;
        gap: 5%;
        flex-direction: column;
        max-width: 100%;
    }

    .souspanier {
        display: flex;
        flex-direction: row;
        gap: 10%;
        max-width: 100%;
    }

    .articlepanier {
        padding: 5%;
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 5%;
    }

    .article {
        display: flex;
        flex-direction: row;
        gap: 5%;
    }



    .articleimg {
        width: 60%;
        height: fit-content;
    }

    .desc-article {
        display: inline-block;
    }

    .resume-panier {
        font-size: 120%;
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    .resume-panier input {
        font-size: 120%;
        width: 100%;
        height: 40px;
        text-align: center;
    }

    .checkouttext {
        display: flex;
        flex-direction: row;
    }

    .checkouttext1 {
        text-align: left;
        width: 40%;
    }

    .checkouttext2 {
        text-align: right;
        width: 75%;
    }

    .checkoutbutton {
        text-align: center;
        background-color: rgb(12, 12, 12);
        color: white;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .checkoutbutton:hover {
        background-color: #f8a8b2;
        color: #333;;
        font-size: 125%;
        padding-top: 3.05%;
        padding-bottom: 3.05%;
    }

    .deletebutton {
        text-align: center;
        padding: 8%;
        height: 85%;
        text-decoration: underline;

    }

    .deletebutton:hover {
        color: #f8a8b2
        
    }

    
    .texte-retour {
        display: none;
    }

    .texte-livraison {
        display: none;
    }
    .informations-commande{
        font-size: 150%;
        margin:5%;
        width: 50%;
    }
}

@media (max-width: 768px) {
    body {
        margin-top: 10%;
        font-family: "Public Sans";
        background-image: url('images/image-removebg-preview_1.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% 800px; 
        
    }

    header {
        background-color: #222;
        color: #fff;
        text-align: center;
        padding: 10px 0;
    }

    .cartpagetitle {
        text-align: center;
    }

    a {
        color: black;
        font-size: 16px;
    }

    .paniertexte{
        font-size: 120%;
        margin: 5%;
    }
    .panier {
        margin: 5%;
        display: flex;
        gap: 5%;
        flex-direction: column;
        max-width: 100%;
        background-color: rgb(255,255,255,0.8);
        border: solid #222;
        
    }

    .souspanier {
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }

    .articlepanier {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .article {
        display: flex;
        flex-direction: row;
        gap: 5%;
    }

    .articleimg {
        width: 110%;
        height: fit-content;
    }

    .desc-article {
        display: inline-block;
    }

    .resume-panier {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .resume-panier input {
        width: 100%;
        height: 40px;
        font-size: 120%;
        text-align: center;
    }

    .checkouttext {
        display: flex;
        flex-direction: row;
    }

    .checkouttext1 {
        text-align: left;
        width: 40%;
    }

    .checkouttext2 {
        text-align: right;
        width: 75%;
    }

    .checkoutbutton {
        text-align: center;
        background-color: rgb(12, 12, 12);
        color: white;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .checkoutbutton:hover {
        background-color: #f8a8b2;
        color: #333;

        font-size: 16.2px;
        padding-top: 3.05%;
        padding-bottom: 3.05%;
    }

    .deletebutton {
        text-align: center;
        padding: 8%;
        text-decoration: underline;
    }

    .deletebutton:hover {
        color: #f8a8b2;
    }

    .texte-retour {
        display: none;
    }

    .informations-commande{
        margin-left: 5%;
    }
    .texte-livraison {
        display: none;
    }    .panier, .resume-panier, .informations-commande {
        width: 90%;
    }

    .panier, .resume-panier, .informations-commande {
        margin: 5 2%; /* Marge réduite pour un meilleur ajustement sur les petits écrans */
    }

    .souspanier {
        display: flex;
        flex-direction: column;
    }

    .desc-article, .checkoutpart, .texte-retour, .texte-livraison {
        width: 90%; /* Occuper toute la largeur de l'écran */
    }

    
    .panier .articlepanier {
        order: 1; /* Laisser le sous-panier en premier */   
    }

    .panier .resume-panier {
        order: 2; /* Déplacer le résumé de commande en dernier */
    }

    .panier  .informations-commande {
        order: 3; /* Déplacer les informations de commande après le sous-panier */
    }

}


