

body{
    background-image: url('./background/eclipse(1).jpg');
    background-size: auto 100%; 
    background-repeat: no-repeat;
    background-position: center 98%; 
}
.product{
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.separation{
    color: white;
}
#Filters{
    color: white;
    text-shadow: red;
}
#Categories{
    color: red;


}
