

body{
    background-image: url('background/eclipse.jpg');
    background-size: auto 100%; 
    background-repeat: no-repeat;
    background-position: center 98%; 
}
.product{
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.separation{
    color: white;
}
#Filters{
    color: white;
}
#Categories{
    color: black;
    border: 1px solid black;
    background-color: white;
    margin-right: 2%;

}
#SortBy{
    background-color: white;
}
#ClearFilter{
    color: white;

}
