body    {
    background-image: url('Images/bg.png');
    background-size: 100% 30%; 
    background-repeat: no-repeat;
    background-position: center 89%; 
}

h1{
    color: white;
}

.product{
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}