body    {
    background-image: url('Images/bg.png');
    background-size: 100% 20%; 
    background-repeat: no-repeat;
    background-position: center bottom; 
}

.product{
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}