.navbar {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: xx-large;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right:auto;
}


.nav-links a {
    float: left;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    
}

.nav-links a:hover {
    color: #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

 .img-nav{
    filter: invert(1);
}

.nav-droite{
    display: flex;
}

.search{
    background-color: #666;
    color: #fff;
    
}

.contain-img{
    display: flex;
    margin-right: 5%;
}