.container{
    content:inline-block;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.panier {
    display: inline;
    width: 50%;
}


.resume-panier {
    display: inline-block;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #444;
}
