body{
    width:100%;
}

nav{
    left: 0%;
    top: 0%;
    background-color: black;
    height: 50px;
    width: 100%;
    position: absolute;
    padding-left: 80px;
}

header{
    position: absolute;
    left: 0%;
    top: 51px;
    padding-left: 80px;
    background-color: rgb(0, 0, 0);
    width: 100%;
}

header p{
        width: 500px;
        color: rgb(255, 255, 255);
    }

header h1{
    color:white;
}

@media(max-width: 600px){
    header{
        background-color: rgb(255, 255, 255);
        padding-left: 0%;
    }
    header p{
        width: auto;
        color: gray;
        margin-left: 5%;
        margin-right: 5%;
    }
    header h1{
        text-align: center;
        color: black;
    }
}