body{
    width:100%;
    margin: 0%;
    padding: 0%;
}

nav{
    top: 0%;
    position: absolute;
    background-color:rgb(13,13,13) ;
    height: 60px;
    width: 100%;
}

header{
    background-color: rgb(13, 13, 13);
    width: 100%;
    margin-top: 61px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 15px;
}

header hr{
    width: 100%;
    background-color: white;
}

header p{
        width: 500px;
        color: rgb(255, 255, 255);   
        height: auto;
    }

header h1{
    color:white;
}

#presentation{
    padding-left: 80px;
    background-color: rgb(0, 0, 0);
}

label{
    color: grey;
}

#SortType{
    border: none;
    background: rgba(0,0,0,0);
    font-weight: bold;
    font-size: large;
}


fieldset{
    border: solid black 1px;
    width: 160px;
}

#Categories{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-left: 5%;
    padding-right: 5%;
}

@media(max-width: 600px){
    header{
        background-color: rgb(255, 255, 255);
        padding-left: 0%;
    }
    header p{
        width: auto;
        color: gray;
        margin-left: 5%;
        margin-right: 5%;
    }
    header h1{
        text-align: center;
        color: black;
    }
    #Categories{
        flex-direction: row;
    }
}
