* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Public Sans';
    width: 100%;
}

.center-txt1{
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.title{
    width: 70%;
    height: 10%;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.secondary-txt{
    color: gray;
    font-size: 20px;
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
}

/*Images déroulantes toutes seules*/

.image-slider {
    width: 810px;
    height: 100%;
    margin-top: 5%;
    margin-left: 28%;
    margin-right: 28%;
    overflow: hidden;
}

.image-container {
    display: flex;
    transition: transform 0.5s ease; /* pour une transition fluide */
}

.image-container img {
    width: 100%;
    object-fit: cover; /* Les images remplissent complètement la div sans déformer */
}
  


/*Enlever les lignes des hyperliens*/

.no-underline{
    text-decoration: none;
    color: black;
}

/*Button*/

.button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 5%;
}

.button:hover {
    background-color: #555555;
    color: white;
}

.logo1 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    margin-bottom: 3.5%;
}

.bold{
    color: #333333;
}

img:hover{
    cursor: pointer;
}

