* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Public Sans';
    width: 100%;
}

.center{
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
}

.center-txt1{
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-size: 50px;
}

.white{
    color: white;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#sub{
    border: 1px solid black;
    width: 324px;
    height: 40px;
}

#email{
    color: gray; 
    border: white;
}

#submit{
    font-style: oblique;
    border: white; 
    background-color: white;
}

.title{
    color: var(--Text-Primary, #000);
    text-align: center;
}

h2{
    font-family: 'Public Sans';
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px; /* 110.714% */
    letter-spacing: -2.4px;
    width: 319px;
    height: 186px;
    margin-top: 29px;
    margin-left: 35px;
    margin-right: 36px;
}

.text{
    font-family: 'Public Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.4px;
    color: var(--Text-Secondary, #979797);
    text-align: center;     
}

#p1{
    width: 270px;
    height: 84px;
    flex-shrink: 0;
    margin-top: 39px;
    margin-left: 60px;
}

button{
    background-color: white;
    border: 1px solid black;
    font-family: 'Public Sans';
}

.button1{
    display: flex;
    width: 194px;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 76px;
    margin-left: 98px;
}

.img {
    margin-top: 38px;
}

#logo{
    width: 320px;
    height: 259px;
    flex-shrink: 0;
    margin-top: 75px;
    margin-left: 35px;
    margin-bottom: 79px;
    background-color: #0e2431;
    margin-right: 35px;
}

#footer{
    width: 336px;
    height: 430px;
    flex-shrink: 0;
    margin-left: 27px;
    margin-right: 27px;
    margin-top: 35px;
    margin-bottom: 20px;
}

#title2{
    color: #000;
    font-family: 'Public Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 146.667% */
    letter-spacing: -1.5px;
}